.plants {
  span {
    width: 110px;
    height: 130px;
    display: inline-block;
  }
}

.stage_0 {
  background-image: url('../img/g1-s0.png');
}

.stage_1 {
  background-image: url('../img/g1-s1.png');
}

.stage_2 {
  background-image: url('../img/g1-s2.png');
}

.stage_3 {
  background-image: url('../img/g1-s3.png');
}

.stage_4 {
  background-image: url('../img/g1-s4.png');
}

@media (max-width: 349px) {
  .plants {
    span {
      margin: 5px;
    }
  }
}

@media (min-width: 350px) {
  .plants {
    span {
      margin: 10px;
    }
  }
}
